
.top-container {
  display: block;
}

.list-container {
  display: block;
}

/* text-decoration: line-line-through solid rgb(0,0,0); */
/* .completed {
  text-decoration: line-line-through;
}
 */
.completed {
  text-decoration: line-through;
}

#texto-tarefa {
  width: 50%;
  /* width: 500px; */
}